input{
    background-color: whitesmoke;
    color: black;
    margin: 10px;
}

*{
    /* Universal Selector for all elementsss */
    padding: 2%;
}

/* # is used for slecting by ID */

body{
    background-color:khaki;
}
/* Comment in CSS */
/* This is External CSS */